# Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/frontend/build/

# Jupyter
.ipynb_checkpoints/

# Neo4j/local data
data/
data/neo4j/

# OS/Editor
.DS_Store
.idea/
.vscode/
*.iml
.history/

# Misc
*.bak
*.swp
*.swo
*.orig

# Env
.env